.header-tablero-pendientes {
  background-color: #de2929;
  color: white;
}

.header-tablero-enProceso {
  background-color: #434242;
  color: white;
}

.header-tablero-terminadas {
  background-color: #058412;
  color: white;
}
