/* ----------------- COLORES DE CABECERA DE COLUMNAS ----------------- */

.header-tablero-pendientes {
  color: #d02215;
  padding: 1rem;
  border-radius: 0.5rem 0.5rem 0 0;
  text-align: center;
}

.header-tablero-enProceso {
  color: #434242;
  padding: 1rem;
  border-radius: 0.5rem 0.5rem 0 0;
  text-align: center;
}

.header-tablero-terminadas {
  color: #049b13;
  padding: 1rem;
  border-radius: 0.5rem 0.5rem 0 0;
  text-align: center;
}

