/*!*************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[3]!./src/css/platform/styles.css ***!
  \*************************************************************************************************************************************************************************************************************************************************************************/
body {
  font-optical-sizing: auto;
  font-style: normal;

  color: var(--black);

  min-height: 100dvh;
  display: flex;
  position: relative;
}

main {
  flex: 1;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  padding-top: 72px;
  transition: all ease 0.3;
}

.main-container {
  flex: 1;
  padding: 16px;
}

.breadcrumb {
  display: flex;
  color: var(--gray);
  font-size: 16px;
  margin-top: 16px;

  & .breadcrumb-item:not(:last-child) {
    color: var(--blue);
  }

  & .breadcrumb-item:not(:last-child):hover {
    text-decoration: underline;
  }

  & .breadcrumb-item + .breadcrumb-item::before {
    content: "/";
    margin: 0 8px;
  }
}

.search-bar {
  display: flex;
  align-items: center;
  border-radius: var(--round);
  background-color: var(--light);
  
}

.search-bar input {
  border: none;
  outline: none;
  flex-grow: 1;
  font-size: 16px;
  color: var(--gray);
  background-color: transparent;
  height: 40px;
  padding: 0 16px;
}

.search-bar input::placeholder {
  color: var(--gray);
}

.search-bar .search-button {
  background: none;
  border: none;
  cursor: pointer;
  color: var(--gray);
  padding: 0 8px;

  display: grid;
  place-content: center;
}

.order-detail {
  display: flex;
  flex-direction: column;
  position: sticky;
  bottom: 0;
  background-color: var(--white);
  padding: 16px 32px;
  box-shadow: 0px -8px 16px rgba(0, 0, 0, 0.1);
  z-index: 1;
  gap: 8px;

  & .subtitle {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.select-client {
  align-items: center;
  gap: 8px;
  cursor: pointer;
  font-weight: bold;
  background-color: white;
}

.select-client:focus {
  outline: none;
}

.bottom-sheet-backdrop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.25);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out;
  z-index: 999;
}

.bottom-sheet-backdrop.open {
  opacity: 1;
  visibility: visible;
}

.bottom-sheet {
  position: fixed;
  bottom: -100%;
  left: 0;
  width: 100%;
  border-radius: var(--round) var(--round) 0 0;
  background-color: white;
  box-shadow: 0 -4px 20px rgba(0, 0, 0, 0.1);
  transition: bottom 0.3s ease-in-out;
  z-index: 1000;
}

.bottom-sheet.open {
  bottom: 0;
}

.bottom-sheet-content {
  padding: 16px 48px;

  & .bottom-sheet-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  & hr {
    margin: 8px 0;
  }
}

.card-menu-meals {
  width: 100%;
  border-radius: var(--round);

  background: #fff;
  box-shadow: 2px 0 8px rgba(0, 0, 0, 0.1);
  display: flex;
  padding: 16px;
  gap: 16px;

  & img {
    width: 120px;
    height: 120px;
    object-fit: cover;
    object-position: center;
    border-radius: var(--round);
  }

  & .content-card {
    flex: 1;
    display: flex;
    flex-direction: column;

    & h3 {
      font-weight: 700;
      font-size: 20px;
      line-height: 24px;
    }

  
    & .price-add-container {
      display: flex;
      align-items: center;
      justify-content: space-between;

      & span {
        font-weight: bold;
        font-size: 20px;
      }
    }
  }
}

.line-1 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-direction: vertical;
}

.line-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.order-menu-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 16px;
}

.highlight {
  background-color: var(--primary);
}

.quantity-selector {
  display: flex;
  align-items: center;

  --size: 32px;

  & span {
    width: 32px;
    background: var(--light);
    display: grid;
    place-content: center;
    height: var(--size);
  }

  & button {
    background-color: var(--primary);
    height: var(--size);
    width: var(--size);
    font-size: 18px;
    display: grid;
    place-content: center;
  }

  & .quantity-left {
    border-top-left-radius: var(--round);
    border-bottom-left-radius: var(--round);
  }

  & .quantity-right {
    border-top-right-radius: var(--round);
    border-bottom-right-radius: var(--round);
  }
}

.grid-table {
  display: grid;
  font-size: 18px;

  & .header,
  .row,
  .footer {
    display: contents; /* Permite que las celdas se alineen según la grid */
  }

  & .cell {
    padding: 6px 12px;
    border-right: 1px solid;
    border-bottom: 1px solid;
    border-color: #ddd;
    display: flex;
    align-items: center;
  }

  & .cell:first-child {
    border-left: 1px solid #ddd;
  }

  & .header {
    font-weight: bold;
    width: 100%;
    height: 32px;

    > .cell {
      background: var(--primary);
      color: var(--black);
      border-color: var(--black);
      border-top: 1px solid;
    }
  }

  & .footer {
    font-weight: bold;

    > .cell {
      border-bottom: 1px solid;
      border-color: #ddd;
    }
  }

  & .icon {
    display: grid;
    place-content: center;
    padding: 6px 6px;
  }

  & .icon img {
    width: 32px;
    height: 32px;
    margin: auto;
  }

  & .table-image {
    border-radius: var(--round);
    object-fit: cover;
    margin-right: 10px;
  }

  & .full-width {
    grid-column: span 1;
  }
}

.grid-table.take-order {
  grid-template-columns: auto 1fr repeat(3, auto); /* Define 5 columnas, la segunda (1fr) ocupa el espacio disponible */
}

.grid-table.pedidos-table {
  grid-template-columns: repeat(
    6,
    auto
  ); /* Define 5 columnas, la segunda (1fr) ocupa el espacio disponible */
}

.observations-textarea {
  width: 100%;
  height: 100px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: none;
}
/*!**************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[3]!./src/css/platform/sidebar.css ***!
  \**************************************************************************************************************************************************************************************************************************************************************************/
.settings-button {
  transition: transform 0.3s ease;
}
.settings-button:hover {
  transform: rotate(180deg);
}

.sidebar {

  /* display: none; */

  left: -260px;
  width: 260px;

  min-height: 100dvh;
  padding: 16px;
  background-color: var(--white);
  position: fixed;
  flex-direction: column;
  box-shadow: 8px 0 16px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  z-index: 2;


  & .top-menu {
    display: flex;
    justify-content: space-between;
    color: var(--gray);
  }

  & .info-menu {
    padding-top: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;

    & img {
      width: 100px;
      height: 100px;

      transition: all 0.3s ease;
    }
  }

  & .sidebar-menu {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding-top: 8px;
    gap: 2px;

    & li {
      font-size: 16px;
      border-radius: var(--round);
      transition: background-color 0.3s ease;

      & div {
        display: flex !important;
        padding: 8px;
        align-items: center;
        gap: 8px;
        width: 100%;
        font-weight: 500;
      }
    }

    & li:hover {
      background-color: var(--light);
    }

    & li.active {
      color: var(--black);
      background-color: var(--light);
    }
  }

  & .logout-icon {
    display: none;
  }
}

.provider-container {
  width: 100%;
}

.provider-container.sb-expanded {
  & .sidebar {
    width: 72px;
    left: -72px;

    & > .top-menu {
      justify-content: center;

      & > button:first-child {
        display: none;
      }
    }

    & .info-menu {
      & img {
        width: 40px;
        height: 40px;
      }

      & h4 {
        display: none;
      }

      & p {
        display: none;
      }
    }

    & .sidebar-menu {
      padding-top: 32px;
      gap: 8px;

      & li {
        background: var(--light);
      }

      & li.active {
        color: var(--black);
        background-color: var(--primary);
      }

      & li:hover {
        background: var(--black);
        color: var(--white);
      }

      & span {
        display: none;
      }
    }

    & .logout-button {
      padding: 0;
      display: grid;
      place-content: center;

      & .logout-icon {
        display: block;
        font-size: 20px;
      }

      & span {
        display: none;
      }
    }
  }

  & main {
    margin-left: 0px;
  }
}

main {
  margin-left: 0px;
  transition: all 0.3s ease;
}

/*!************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[3]!./src/css/platform/media.css ***!
  \************************************************************************************************************************************************************************************************************************************************************************/
/* Media queries for responsive design */

/*? sm */
@media (min-width: 640px) {
}

/*? md */
@media (min-width: 768px) {
  .sidebar {
    display: flex;
    left: 0;
  }

  .main-container {
    padding: 24px;
  }

  .provider-container.sb-expanded {
    & main {
      margin-left: 72px;
      padding-top: 0px;
    }

    & .sidebar {
      left: 0;
    }
  }

  main {
    margin-left: 260px;
    padding-top: 0px;
  }

  .order-detail {
    justify-content: space-between;
    flex-direction: row;

    & .subtitle {
      gap: 8px;
    }
    
    
  }
  
}

/*? lg */
@media (min-width: 1024px) {
  .main-container {
    padding: 32px;
  }
}

/*? xl */
@media (min-width: 1280px) {
}

/*? 2xl */
@media (min-width: 1536px) {
}

/*!***********************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[3]!./src/css/platform/main.css ***!
  \***********************************************************************************************************************************************************************************************************************************************************************/


